%li.dropdown
  %a.dropdown-toggle.text-white{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
    %span.glyphicon.glyphicon-user.text-white
    %span.text-white
      = current_user.username
      %span.caret
  %ul.dropdown-menu
    %li
      = link_to "My Tweaks", user_descriptions_path(current_user)
    %li.divider{:role => "separator"}
    %li
      = link_to 'My Account', user_email_preferences_path(current_user)
    %li.divider{:role => "separator"}
    - if current_user.admin?
      %li
        = link_to 'Daily Wit Stop', daily_wit_stops_path
      %li.divider{:role => "separator"}
    %li
      = link_to 'Logout', destroy_user_session_path, method: :delete
