%span{class: 'temp_information', data: {'fb-app-id': ENV['FACEBOOK_APP_ID']} }

:javascript
  window.fbAsyncInit = function() {
    FB.init({
      appId      : $('.temp_information').data('fb-app-id'),
      xfbml      : true,
      version    : 'v3.1'
    });

    // ADD ADDITIONAL FACEBOOK CODE HERE
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "https://connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));

:javascript
  function sendRequests() {
      FB.ui({
          method: 'apprequests',
          message: 'LetterLoose is a game for people who like words, wits, and laughter. Play now!'
      }, function(response) {
          if (response != null && response.to && response.to.length > 0) {
              for (var i = 0; i < response.to.length; i++) {
                  console.log("Invited: " + response.to[i]);
              }
          } else {
              console.log('No invitations sent');
          }
      });
  }

%nav.navbar.navbar-inverse.pattern-background
  .container-fluid
    .navbar-header
      = link_to root_path, class: 'navbar-brand', style: 'max-width: 460px;' do
        = image_tag 'title_trademark.png', style: 'max-width: 100%;margin-top: -6px;animation-duration: 1.2s;', class: ('animated bounceInDown' if params['controller'] == 'categories' && params['action'] == 'index')
    %button.navbar-toggle{"data-target" => "#myNavbar", "data-toggle" => "collapse", :type => "button"}
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar

    #myNavbar.collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right
        - if user_signed_in?
          %li.dropdown#likes-container
            - # rendered with ajax

          = render partial: 'layouts/navbar/user_links'
        - else
          %li
            = link_to new_registration_path('user') do
              %span.glyphicon.glyphicon-user.text-white
              %span.text-white
                Sign Up
          %li
            = link_to new_session_path('user') do
              %span.glyphicon.glyphicon-log-in.text-white
              %span.text-white
                Login
          %li.facebook-invite-friends-no-float
            =image_tag 'facebook-invite-image-light.png', style: 'max-height:32px;margin-top:5px;', onclick: 'sendRequests(); return false;'


:javascript
  $.get("#{counter_likes_path()}");
